/* Contact Page Styles */

.hero {
   background-color: #dfe6e9;
 }

 fieldset {
   border: 1px solid #ddd;
   padding: 32px 16px;
   margin-bottom: 32px;
   border-radius: 8px;
 }
 
 legend {
   padding: 0 8px;
   font-size: 18px;
   font-weight: 700;
 }

 .input-control {
   appearance: none;
   width: 100%;
   padding: 12px;
   margin-bottom: 8px;
   border: 2px solid #ddd;
   border-radius: 4px;
   box-sizing: border-box;
   display: inline-block;
   font-weight: 500;
   font-size: 14px;
 }
 
 .input-control:hover {
   border-color: #0984e3;
 }
 
 .input-control:focus {
   border-color: #0984e3;
   outline: none;
 }
 
 .input-control:active {
   box-shadow: 0 0 0 3px #0984e3;
   border-color: transparent;
   outline: none;
 }
/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/

/* Write your mobile styles here */