/* Home Page Styles */
.hero {
  display: flex;
  align-items: center;
  min-height: 50vh;
  text-align: center;
  background-image: url('../images/hero2.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  color: white;
}

.hero h1 {
  max-width: 800px;
  margin: 0 auto 32px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hero .title-sm {
  color: white;
}

.number {
  display: block;
  font-size: 42px;
  font-family: 'Shrikhand', sans-serif;
  color: #0984e3;
}

.gallery-image {
  width: 100%;
  height: auto;
  margin-bottom: 32px;
}

.description {
  
  margin-left: auto;
  margin-right: auto;
}

.button {
  margin-top: 16px;
}

blockquote {
  margin: 0;
}

blockquote p {
  padding: 15px;
  color: white;
  background: #0984e3;
  border-radius: 8px;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}


/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/